.carousel .carousel-item{
    height: 500px;
}
.carousel img{
    min-height: 500px;
    object-fit: cover;
}
body{
    background-image: url(galaxy-5515384_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
